# Deployment
## these models can be deployed on a server and APIs can be used to contact with it and get the predictions from it.
### in this section the models will be built as a deployment status, the input will be only the date and the maximum temperature while the output will be the number of calls and the number of sby_need

In [47]:
from datetime import date, datetime
import xgboost as xgb
import pandas as pd

In [48]:
# loading the calls prediction model
reg_new = xgb.XGBRegressor()
reg_new.load_model('XGBmodeReport.json')
reg_new

XGBRegressor(base_score=0.05, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None,
             feature_types=['int', 'int', 'int', 'int', 'int', 'int', 'int',
                            'float'],
             gamma=0, gpu_id=-1, grow_policy='depthwise', importance_type=None,
             interaction_constraints='', learning_rate=0.001, max_bin=256,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=3, max_leaves=0, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100000, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [49]:
# define the model
def Berlin_model(df):
    df['dayofweek'] = df.index.dayofweek
    df['quarter'] = df.index.quarter
    df['month'] = df.index.month
    df['year'] = df.index.year
    df['dayofyear'] = df.index.dayofyear
    df['dayofmonth'] = df.index.day
    df['weekofyear'] = df.index.week
    FEATURES = ['weekofyear','dayofyear','dayofweek', 'month', 'year','quarter','dayofmonth','temp_max']
    input_df = pd.DataFrame()
    input_df = df[FEATURES]
    df['calls']=reg_new.predict(input_df)
    df.loc[df['calls'] <= 9102, 'sby_need']=0
    df.loc[df['calls'] > 9102, 'sby_need']= (0.198 * df['calls'] -1802)
    return df

In [50]:
# preparing input data
input_df = pd.date_range('2019-08-01','2019-08-05', freq='1d')
df = pd.DataFrame(index=input_df)
df['temp_max']=[5,7,9,15,21]
df

            temp_max
2019-08-01         5
2019-08-02         7
2019-08-03         9
2019-08-04        15
2019-08-05        21

In [51]:
# testing the model
Berlin_model(future_df)

<ipython-input-49-57cbfbacf067>:9: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  df['weekofyear'] = df.index.week

,temp_max,dayofweek,quarter,month,year,dayofyear,dayofmonth,weekofyear,calls,sby_need
2019-08-01,5,3,3,8,2019,213,1,31,9666.343750,111.936035
2019-08-02,7,4,3,8,2019,214,2,31,9765.407227,131.550659
2019-08-03,9,5,3,8,2019,215,3,31,9399.261719,59.053833
2019-08-04,15,6,3,8,2019,216,4,31,9197.221680,19.049927
2019-08-05,21,0,3,8,2019,217,5,32,10392.451172,255.705322

## done